body {
    background-color: #f0f5ff !important;
}

.large-img img {
    width: 100%;
    height: 400px;
}

.small-img img {
    width: 100%;
    height: 197px;
    margin-bottom: 10px;
    object-fit: cover;
}

.large-img img,
.small-img img {
    border-radius: 30px;
}

/* Overlay styles */
.overlay-container {
    position: relative;
}

.overlay {
    position: absolute;
    border-radius: 30px;
    inset: 0;
    width: 100%;
    height: 197px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
}

.overlay-container:hover .overlay {
    opacity: 1;
    cursor: pointer;
}

.overlay-container span {
    transition: all 400ms ease;
}

.overlay-container:hover span {
    scale: 1.3;
    font-weight: 700;
}

/*  */

.image-detail-card {
    margin: 40px 0 30px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    border-radius: 30px;
    transform: scale(0.9);
}

.detail-location-shape,
.detail-info-top,
.group-detail-book-room,
.group-review {
    transform: scale(0.9);
}

.modal-image-alls.enlarged {
    transform: scale(3);
    width: 100%;
    transition: transform 0.3s ease;
    z-index: 1055;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* .review-images-details {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 15px;
}

.review-images-details img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    object-fit: cover;
} */

.modal-image-alls {
    transition: scale 300ms ease;
}

.modal-image-alls:hover {
    scale: 1.07;
    cursor: pointer;
}

.detail-location-shape span {
    background: #12C84F;
    padding: 10px 35px;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 20px;
}

.detail-hotel-price {
    float: inline-end;
}

.detail-hotel-card {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.rating {
    display: flex;
    align-items: center;
}

.hotel-name {
    font-size: 35px;
    font-weight: 700;
    color: #0b367f;
    margin-right: 10px;
}

.star {
    color: #FFD700;
    font-size: 30px;
    margin-right: 2px;
}

.star.empty {
    color: #ccc;
}

.price-label {
    color: #333;
    font-size: 20px;
    margin-left: auto;
    font-weight: 300;
}

.detail-info-middle {
    .detail-left-info {
        .section-title {
            font-size: 30px;

        }

        .detail-description {
            text-align: justify;
        }

    }

    .detail-right-info {
        padding: 0 0 20px;

        .detail-price-main {
            display: flex;
            justify-content: end;

            .price {
                font-size: 30px;
                font-weight: 700;
                color: red;
            }
        }

        .detail-map {
            width: 100%;
            border: 1px solid;
            height: auto;
        }

        .detail-button {
            margin-top: 20px;
            display: flex;
            justify-content: end;

            .detail-btn-book-room {
                padding: 15px 20px;
                border-radius: 20px;
                background: #3B79C9;
                color: #fff;
                text-decoration: none;
                font-weight: 700;

                &:hover {
                    outline: 1px solid #3B79C9;
                    background: #fff;
                    color: #3B79C9;
                    transition: all 300ms ease;
                }
            }
        }
    }
}

.hotel-amenities {
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #fff;
    border-radius: 20px;

    .detail-title-amenities {
        font-size: 16px;
        font-weight: 700;
    }

    .info-amenities {
        white-space: nowrap;

        .amenity-item i {
            margin: 10px;
            color: #12C84F;
        }

        .amenity-item {
            font-size: 20px;
        }
    }

    .xem-tat-ca {
        display: flex;
        justify-content: end;
        text-decoration: none;
        color: #3B79C9;

        &:hover {
            text-decoration: underline;
            transition: all 300ms ease;
        }
    }
}

.group-detail-book-room {

    .detail-title-book-room {
        font-weight: 400;
        color: #093E84;
    }

    .group-room-card {
        display: flex;
        justify-content: space-between;

        .group-info-room-card {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border-radius: 20px;
            scale: 0.95;
            background: #fff;
        }

        .card-room-load-more #loadMore {
            padding: 10px 35px;
            color: #fff;
            background: #3B79C9;
            border: none;
            border-radius: 20px;

            &:hover {
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                transition: box-shadow 300ms ease;
            }
        }
    }

    .mySwiper img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        padding: 10px;
        border-radius: 20px;
    }


    .detail-infor-right {
        position: relative;
        padding: 10px;
        font-size: 20px;

        .detail-room-sale {
            position: absolute;
            width: 45px;
            height: 45px;
            background: yellow;
            color: red;
            top: 0;
            right: 0;
            border-bottom-left-radius: 20px;
            border-top-right-radius: 20px;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            font-weight: 900;
        }

        .card-room-location {
            i {
                color: #3B79C9;
                margin-right: 5px;
            }
        }

        .card-room-hotel-name {
            i {
                color: #3B79C9;
                margin-right: 5px;
            }
        }

        .card-room-rating span {
            font-size: 35px;
            color: #ffdd00;
        }

        .group-room-price {
            .card-room-price-old {
                color: #ACACAC;
                text-decoration: line-through;
                font-size: 16px;
            }

            ul li {
                list-style: none;
            }

            .card-room-price-new {
                color: red;
                font-weight: 700;
                font-size: 25px;
            }
        }
    }

    .card-room-status {
        position: absolute;
        bottom: 30%;
        right: 20px;
        display: flex;

        .don {
            background: #12C84F;
            color: #fff;

        }

        .don,
        .doi {
            margin-left: 5px;
            padding: 3px 10px;
            border: 1px solid;
            width: 100%;
            font-size: 13px;
            border-radius: 10px;
        }
    }

    .card-room-btn-book {
        position: absolute;
        bottom: 10%;
        right: 20px;
        text-transform: uppercase;
        font-size: 16px;
        padding: 5px 10px;
        border-radius: 10px;
        background: #3B79C9;

        .btn-book-now {
            color: #fff;
            text-decoration: none;

        }
    }
}

.group-review {
    .review-title {
        font-size: 30px;
        font-weight: 700;
        color: #0b367f;
        margin: 0;
    }

    .total-review {
        font-size: 20px;
        color: red;
        font-weight: 500;
    }

    .box-review {
        .image-preview-review {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-top: 20px;
        }

        .image-preview-review img {
            max-width: 100px;
            max-height: 100px;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            object-fit: cover;
        }

        .preview-container {
            position: relative;
            display: inline-block;
        }

        .preview-image {
            max-width: 100px;
            max-height: 100px;
            border-radius: 5px;
        }

        .close-button {
            position: absolute;
            top: -8px;
            right: -5px;
            background-color: #4598ff;
            color: white;
            border-radius: 50%;
            padding: 0px 8px;
            cursor: pointer;
            font-weight: bold;

            &:hover {
                background-color: #ff0000;
                transition: background-color 300ms ease;
            }
        }

        .group-input-review {
            display: flex;

            .icon-profile {
                font-size: 45px;
                color: #3B79C9;
            }

            .btn-submit button {
                box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
            }

            .group-text-review {
                position: relative;
                width: 100%;
                margin: 0 10px;

                #inputReview {
                    padding: 10px 0 10px 10px;
                    border-radius: 10px;
                    outline: none;
                    border: none;
                    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
                }

                .upload-file-review {
                    position: absolute;
                    top: calc(100% - 37px);
                    right: 10px;

                    label i {
                        font-size: 30px;
                        color: #3B79C9;
                        cursor: pointer;
                    }
                }
            }
        }

        .btn-submit button {
            padding: 10px 15px;
            border: none;
            background: #3B79C9;
            color: #fff;
            border-radius: 10px;
        }

        .image-preview-review {
            margin-left: 50px;

            #preview {
                display: none;
                width: 100px;
                margin-top: 10px;
            }
        }

        .box-comment-review {
            .icon-profile {
                font-size: 40px;
                color: #3B79C9;
            }

            .view-review {
                width: 100%;
                height: fit-content;
                background: #fff;
                box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
                padding: 15px;
                border-radius: 10px;

                .image-review {
                    display: grid;
                    grid-template-columns: 100px 100px 100px 100px;
                    padding: 10px;
                    gap: 10px;

                    img {
                        width: 100px;
                        border-radius: 10px;
                    }
                }

                .group-info-review {
                    .review-user-name {
                        font-size: 20px;
                        color: #093E84;
                    }

                    .created_at {
                        font-size: 14px;
                        opacity: .7;
                    }

                    .comment-text {
                        font-size: 22px;
                    }

                    .action-review {
                        display: flex;

                        .edit-review {
                            text-align: center;
                        }

                        a {
                            text-decoration: none;
                            color: #000;

                            &:hover {
                                color: #3B79C9;
                                text-decoration: underline;
                                transition: all 300ms ease;
                            }
                        }
                    }
                }
            }
        }

        .review-pagination {
            display: flex;
            margin-top: 20px;
            justify-content: end;
        }
    }
}