body {
    background-color: #f0f2f5;
}

.login-container {
    max-width: 100%;
    padding: 15px;
}

.header {
    background: rgb(23, 85, 164);
    background: linear-gradient(93deg, rgba(23, 85, 164, 1) 42%, rgba(24, 157, 216, 1) 87%);
    color: white;
    width: 100%;
}

.btn-primary {
    background-color: #4267B2;
    border-color: #4267B2;
}

.btn-primary:hover {
    background-color: #365899;
    border-color: #365899;
}

.social-btn {
    border: 1px solid #ddd;
}

.social-btn:hover {
    border: 1px solid #ddd;
}

.icon-facebook,
.icon-goole {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.typing-effect {
    font-size: 1.5em;
    font-weight: 600;
    white-space: nowrap;
    border-right: 3px solid;
    width: 100%;
    overflow: hidden;
    color: #333;
    margin-bottom: 15px;
}

h4,
label {
    font-weight: 600;
    color: #333;
}

.position-relative {
    position: relative;
}

.text-danger.password {
    margin-bottom: 16px;
}

.text-danger.confirmpass {
    margin-bottom: 16px;
}

.password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2em;
    color: #6c757d;
    z-index: 1;
}

.password-toggle-icon:hover {
    color: #007bff;
}

.form-control {
    padding-right: 40px;
    line-height: 1.5;
}

.text-danger {
    display: block;
    color: red;
    font-size: 12px;
    font-weight: 500;
}

.stay-nest-login-form {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;

    .stay-nest-container {

        .stay-nest-box-login {
            border-radius: 10px;
            background: #ffff;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

            .stay-nest-text-head-login {
                p {
                    font-size: 13px;
                }

                .text-head-login {
                    padding-top: 20px;
                }
            }

            .stay-nest-group-function-login {
                display: flex;
                align-items: center;

                .function-login-2 {
                    text-align: end;
                }
            }

            .stay-nest-group-login-banner {
                position: relative;

                .stay-nest-banner-image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                    z-index: 1;
                }

                .overlay-banner {
                    position: absolute;
                    top: 0;
                    left: 11px;
                    width: 96%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, .4);
                    z-index: 2;
                    pointer-events: none;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                }

                .stay-nest-btn-back-home {
                    position: absolute;
                    top: 93%;
                    left: 35px;
                    z-index: 3;

                    a {
                        transition: all 300ms linear;
                        color: #fff;
                        text-decoration: none;
                        font-size: 18px;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                .stay-nest-text-banner {
                    position: absolute;
                    top: 30%;
                    padding: 0 0 0 25px;
                    color: #fff;
                    z-index: 3;

                    h1 {
                        font-size: 50px;
                    }

                    .text-banner {
                        font-size: 22px;
                        color: #fff;
                        font-weight: 300;
                        text-align: left;
                    }
                }
            }

            .stay-nest-group-form-login {
                padding: 30px;
            }

        }
    }
}

/* Hiệu ứng animborder*/
.animate-border {
    position: relative;
    display: block;
    width: 150px;
    height: 2px;
    overflow: hidden;
    background: #365899;
    opacity: .7;

    &::after {
        position: absolute;
        content: "";
        width: 35px;
        height: 3px;
        left: 15px;
        bottom: 0;
        border-left: 10px solid #fff;
        border-right: 10px solid #fff;
        -webkit-animation: animborder 2s linear infinite;
        animation: animborder 2s linear infinite;
    }
}

@keyframes animborder {
    0% {
        -webkit-transform: translateX(-25px);
        transform: translateX(-25px);
    }

    100% {
        -webkit-transform: translateX(150px);
        transform: translateX(150px);
    }
}

/* Kết thúc hiệu ứng animborder */